<%= render :partial => "/projects/tags" %>
<div class="span-14 last">
<h1>Editing page</h1>

<% form_for @page, :html => { :multipart => true } do |f| %>

  <%= f.error_messages %>
  <p>
    <%= f.text_field :header %>
  </p>
  
  <p>
    <%= image_tag @page.image.url(:small), :class => "thumb" %>&nbsp;<%= f.file_field :image %>
  </p>
  <p>
    <%= f.text_area :pagetext %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @page %>&nbsp;:
<%= link_to 'Back', pages_path %>
</div><!--span-14 last-->