<h1>Editing page</h1>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>
  <p><%= f.text_field :header %></p>
  <p><%= f.text_area :pagetext %></p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @page %>&nbsp;:
<%= link_to 'Back', pages_path %>