<h1>New page</h1>

<% form_for @page, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_field :header %>
  </p>
  
  <p>
    <%= f.file_field :image %>
  </p>
  
  <p>
    <%= f.text_area :pagetext %>
  </p>

  <p>
    <%= f.submit 'Create', :class => 'button negative' %>
  </p>
<% end %>

<%= link_to 'Back', pages_path, :class => 'button negative' %>