<div class="span-14 last">
<h1>New page</h1>

<% form_for @page, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  
  <fieldset>
  <p>
    <%= f.text_field :header, :class => "title"  %>
  </p>
  
  <p>
    <%= f.file_field :image %>
  </p>
  
  <p>
    <%= f.text_area :pagetext, :class => "text"  %>
  </p>

  <p>
    <%= f.submit 'Create', :class => 'button' %>
  </p>
  </fieldset>
<% end %>

<%= link_to 'List Pages', pages_path, :class => 'button' %>
</div><!--span-14 last-->