<%= render :partial => "tags" %>
<div class="span-14 last">

<h1><%= @project.title %></h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>
  
  <fieldset>
    <legend>Edit <%= @project.title %></legend>
    <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :class => "title" %>
    </p>
    <p>
    <%= f.label :link %><br />
    <%= f.text_field :link, :class => "text" %>
    </p>
    <p>
    <%= f.label :project_type %><br />
    <%= f.text_field :project_type, :class => "text" %>
    </p>
    <p>
    <%= f.label :text %><br />
    <%= f.text_area :text, :class => "text" %>
    </p>
    <p>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, :size => 80 %>
    </p>
    <p>
    <%= f.label :completion_date %><br />
    <%= f.datetime_select :completion_date %>
    </p>
    <p>
    <%= f.submit 'Update' %>
    </p>
    
  </fieldset>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>

</div><!--span-14 last-->