<h1>Editing projects</h1>

<% form_for(@projects) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :site_link %><br />
    <%= f.text_field :site_link %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :completion_date %><br />
    <%= f.datetime_select :completion_date %>
  </p>
  <p>
    <%= f.label :project_type %><br />
    <%= f.text_field :project_type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @projects %> |
<%= link_to 'Back', projects_path %>