<%= render :partial => "tags" %>
<div class="span-14 last">
<h1>Projects</h1>

<table>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to "#{project.title}", project %></td>
    <td><%=h project.completion_date.strftime("%m/%d/%y") %></td>
    <td></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% if logged_in? %>
<%= link_to 'New project', new_project_path %>
<% end -%>
</div><!--span-14 last-->