<%= render :partial => "tags" %>
<div class="span-14 last">
  
<h1><%=h @project.title %></h1>

<p>
<%= link_to "#{@project.link}", "http://#{@project.link}", :class => "ss_sprite ss_link_go" %>
</p>

<p>
  <strong>Category</strong>
  <%=h @project.project_type %>
</p>

<p>
  <%= @project.tags %>
</p>

<p>
  <%= @project.text %>
</p>

<p>
  <strong>Completion date:</strong>
  <%=h @project.completion_date.strftime("%m/%d/%y") %>
</p>

<div id="gallery_area">
<h2>Gallery Images</h2>
    <% for gallery_image in @gallery_images %>
        <%= image_tag gallery_image.image.url(:long), :class => "long_image" %>
    <% end %>
<br class="clear" />
</div><!--gallery_area-->


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<br />
<%= link_to 'Images', project_gallery_images_path(@project) %>

</div><!--span-14 last-->