<h1><%=h @projects.title %></h1>

<p>
  <b>Description:</b>
  <%=h @projects.description %>
</p>

<p>
  <b>Site link:</b>
  <%=h @projects.site_link %>
</p>

<p>
  <b>Completion date:</b>
  <%=h @projects.completion_date %>
</p>

<p>
  <b>Project type:</b>
  <%=h @projects.project_type %>
</p>


<%= link_to 'Edit', edit_project_path(@projects) %> |
<%= link_to 'Back', projects_path %>

<h2>Gallery</h2>

