<div class="toolbar"> 
      <h1 id="pageTitle"></h1> 
      <a id="backButton" class="button" href="#"></a> 
  </div>
  <ul id="<%= clean(@project.title) %>" title="<%= @project.title %>" selected="true">
    <li><%= @project.text %></li>
    <li><%= link_to "#{@project.link}", "http://#{@project.link}", :target => "_self" %></li>
    <li><h2>Gallery Images</h2>
        <% for gallery_image in @gallery_images %>
            <%= link_to image_tag(gallery_image.image.url(:small)), gallery_image_path(gallery_image) %>
        <% end %></li>
  </ul>