
  <ul id="<%= clean(@project.title) %>" title="<%= @project.title %>" selected="true">
    <li><%= @project.text %></li>
    <li><%= link_to "#{@project.link}", "http://#{@project.link}" %></li>
    <li><h2>Gallery Images</h2>
        <% for gallery_image in @gallery_images %>
            <%= image_tag(gallery_image.image.url(:small)) %>
        <% end %></li>
  </ul>