<h1>Editing gallery_image</h1>

<% form_for [@project, @gallery_image], :html => { :multipart => true }  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </p>
  <p>
    <%= image_tag @gallery_image.image.url(:small), :class => "thumb" %>&nbsp;<%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', project_gallery_image_path(@project, @gallery_image) %> |
<%= link_to 'Back', project_gallery_images_path %>