<p>
  <b>Title:</b>
  <%=h @gallery_image.title %>
</p>

<p>
  <b>Caption:</b>
  <%=h @gallery_image.caption %>
</p>

<p>
  <%= image_tag @gallery_image.image.url(:medium), :class => "medium_image" %>
</p>



<%= link_to 'Edit', edit_gallery_image_path(@gallery_image) %> |
<%= link_to 'Back', gallery_images_path %>