<h1>
  <%=h @gallery_image.title %>
</h1>

  <%= image_tag @gallery_image.image.url(:medium), :class => "medium_image" %>

  <p class="caption">
    <%=h @gallery_image.caption %>
  </p>

<% if logged_in? %>
<%= link_to 'Edit', gallery_image_path(@gallery_image) %> |
<%= link_to 'Back', gallery_images_path %>
<% end -%>