<h1>
  <%=h @gallery_image.title %>
</h1>

  <%= image_tag @gallery_image.image.url(:medium), :class => "medium_image" %>

  <p class="caption">
    <%=h @gallery_image.caption %>
  </p>
  
  <p><%= @gallery_image.project_id %></p>


<%= link_to 'Edit', edit_project_gallery_image_path(@project, @gallery_image) %> |
<%= link_to 'Back', project_gallery_images_path %>